/*
You can add your own CSS here.

Click the help icon above to learn more.
*/
input[type="submit"] {
 	font-size: 12px;
}
 
 header .carousel  { opacity: 0; }

.row:not(footer) {
    margin-top: 30px;
    margin-bottom: 30px;
}

#menu_my_bootstrap_menu_settings_top_menu {
	font-size: 18px;
	background-color: black;
}
/* fixed header */
.fixed-header .navbar-brand {
	line-height: 0;
	padding: 21px !important;
	font-size: 18px;
}

.fixed-header {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 999;
    transition: top 1s linear;
}

.fixed-header .navbar-nav>li>a {
    padding: 15px;
    line-height: 10px;
}
.fixed-header .navbar-nav > li > .dropdown-menu {
    margin-top: 14px;
}
.fixed-header .navbar { min-height: 0; }
.fixed-header .navbar-right { display: none; }
/* end fixed header */

#footer-contact {
	text-align:center; 
	margin-bottom:12px;
}

#footer-schedule { text-align: center; }

.navbar .container-fluid {
	line-height:3;
 	padding-right: 0;
  	padding-left: 0;  
}

.dropdown-menu { padding: 0; }

.dropdown-menu > .active > a {
	color: #eb2a00;
	background-color: #000;
}

#responsive-menu-container #responsive-menu ul.responsive-menu-submenu-depth-1 a.responsive-menu-item-link {
    padding-left: 50% !important;
    text-align: left;
}


.navbar-brand { 
	line-height: 25px;
	text-shadow: 0;
	font-weight: bold;
	height: auto;
}

.navbar { 
	border:0;
	margin-bottom:0;
    background-color: black;
}

.navbar-header { 
    background-color: black;
}

.navbar-default .navbar-brand {
    color: #eb2a00;
    padding: 26px;
}

.navbar-default .navbar-nav>li>a {
    color: lightgray;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #eb2a00;
    background-color: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #eb2a00;
    background-color: #e7e7e7;
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>..entry-content, .entry-summary {
    margin: 1.5em 0 0;
}

.navbar-header {
    background-color: black;
    margin-right: 0;
	margin-left: 0;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 50px;
}

.entry-content, .entry-summary {
    margin: 0;
}

.imageMenu {
	background: black; 
	min-height: 300px;
}

.imageMenu .col-md-4 {
	height:100%; 
	display:table;
}

.imageMenu h4 {
	color:white; 
	text-align:center;
}

.imageMenu .col-md-4 > div {
	display:table-cell; 
	vertical-align:middle; 
	padding:0 20px;
}

.site-footer {
    background-color: #333;
    //height: 100px;
    color: white;
	font-size: 14px;
	padding: 50px;
}

#sis_upcoming_events-2 {
	text-align:center;
}

.widget_sis_upcoming_events ul {
	margin:0;
	list-style: none;
}

form {
    text-align: center;   
}

.mask {
	content: ' ';
    position: absolute;
    z-index: 100;
    left: 0;
    top: 33px;
    right: 0;
    bottom: 0;
    opacity: 1;
   /* pointer-events: none;*/
    filter: alpha(opacity=0);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    -ms-transition: all ease .5s;
    -o-transition: all ease .5s;
    transition: all ease .5s;
    /* background-color: rgba(37,37,37,0.7); */
    height: 200px;
    margin: 35px;   
}

.maskInit {
	background-color: rgba(37,37,37,0.7);
}

.myFadeIn {
	opacity: 0;
}

.mask:hover {
	background-color: rgba(37,37,37,0.7);
}

.wpcf7 {
	margin: 0 auto;
	max-width: 490px;
}
ul.navbar-right {
	display: none;
}

.container .row, header .carousel { 
	opacity: 0; 
 -webkit-transition: opacity 1s ease-in;
       -moz-transition: opacity 1s ease-in;
        -ms-transition: opacity 1s ease-in;
         -o-transition: opacity 1s ease-in;
            transition: opacity 1s ease-in;
}

.container .row.fadeIn, header .carousel.fadeIn {opacity: 1; }

.container .col-md-6:last-child {
	margin-top: 30px;
}

#searchform input[type="text"] {
    padding: 5px;
    border-radius: 10px;
}

#searchform button {
    border: 0;
    z-index: 3;
    background: transparent;
}

.input-group-btn {
	position: absolute;
    left: 230px;
    top: 3px;
}

#socialhead { display: none; }

@media (min-width: 992px) {
	.imageMenu p {
		    width: 350px;
			height: 200px;
			background-size: cover;
	}
	
	.imageMenu p img {
		display: none;
	}

	#socialhead { display: block; }

	#footer-contact { text-align: right; }
	#footer-schedule { text-align: left; }

	.wpcf7 {
		margin: 0;
	}

	.container .col-md-6:last-child {
		margin-top: 0;
	}
}

@media (min-width: 768px) {
	.imageMenu p {
	    width: 100%;			
		//background-size: cover;
	}	

	.navbar-nav>li>a {
	    padding: 26px 22px;	   
	}	
}